<app-bread-crumbs></app-bread-crumbs>

<mat-card>
    <mat-card-header>Login Details</mat-card-header>
    <br>
    <mat-card-content class="p-l-28">
        <div *ngIf="currentUser">
            <mat-label>User Name:</mat-label>
            {{currentUser.userName}}
            <br>
           <mat-label>Email:</mat-label>
            {{currentUser.email}}
            <br>
           <mat-label>Full Name:</mat-label>
            {{currentUser.fullName}}
            <br>
        </div>

        <button color="warn" (click)="delete()" class="mat-elevation-z1" mat-mini-fab matTooltip="Delete User">
            <mat-icon>delete</mat-icon>
          </button> 
       
    </mat-card-content>
</mat-card>



