
*.v2

Starter/.vs/Starter/v16/

Starter/Starter.Web/starter/src/node_modules/\@angular/flex-layout/bundles/flex-layout-core.umd.js

Starter/Starter.Web/starter/src/node_modules/\@angular/flex-layout/bundles/

*.ts

*.js

Starter/Starter.Web/starter/src/node_modules/tslib/

*.json

Starter/Starter.Web/starter/src/node_modules/\@angular/flex-layout/
