.mat-column-buttons{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-name{
    flex: 0 0 12% !important;
    width: 12% !important;
  }

  .mat-column-location{
    flex: 0 0 12% !important;
    width: 12% !important;
  }

  .mat-column-postCode{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-isDeleted{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-isSea{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-latitude{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-longitude{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-ageGroup{
    flex: 0 0 10% !important;
    width: 10% !important;
  }
  
  .mat-column-type{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-invite{
    flex: 0 0 4% !important;
    width: 4% !important;
  }

  .mat-column-delete{
    flex: 0 0 4% !important;
    width: 4% !important;
  }