<app-bread-crumbs></app-bread-crumbs>
<mat-card>
    <div fxLayout="row"> 
        <mat-form-field fxFlex>
            <input matInput placeholder="Player Name">
            <mat-icon (click)="clearSearch()" matSuffix>clear</mat-icon>
            <mat-icon (click)="search()" matPrefix>search</mat-icon>
        </mat-form-field>
        
        <!-- cloud button -->
         <div class="p-t-5 m-l-10">
          <shared-excel-export [response]="response" api-url="api/FreeAgency/export" file-name="FreeAgencyList"></shared-excel-export>
        </div>
         <div class="m-l-10">  
            <button color="primary" (click)="add()" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </div>

    <div>
        <mat-table matSort class="mat-elevation-z8" [dataSource]="response">
          <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="basic" (click)="edit(row)" mat-mini-fab matTooltip="Edit Entry">
                <mat-icon>touch_app</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="location">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Country</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.country.name}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="postCode">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Postcode</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.postCode}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Longitude</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.longitude}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Latitude</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.latitude}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="ageGroup">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Age Group</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.ageGroup}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="tournamentType">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Tournament Type</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span >{{row.tournamentTypeId == 1 ? 'Male' : 'Female'}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="invite">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="accent" (click)="edit(row)" class="mat-elevation-z1" mat-mini-fab matTooltip="Invite Entry">
                <mat-icon>person_add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="warn" (click)="edit(row)" class="mat-elevation-z1" mat-mini-fab matTooltip="Delete Entry">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

  <!-- Mobile view start -->

        <ng-container matColumnDef="buttonsMobile">
          <mat-header-cell *matHeaderCellDef>Menu</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="mat-micro" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #appMenu="matMenu" class="p-10">
              <div>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                  <button mat-mini-fab color="accent" matTooltip="Edit">
                    <mat-icon>person_add</mat-icon>
                </button>
                <button class="mat-micro" class="m-l-10" mat-mini-fab color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
                </div>
              </div>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customerMobile">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.name}}
            </mat-cell>
        </ng-container>

  <!-- Mobile view end -->

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirsLastButtons></mat-paginator>
  </div>
</mat-card>