.mat-column-buttons{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-countryId{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-isAir{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-isDeleted{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-isSea{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-latitude{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-longitude{
    flex: 0 0 10% !important;
    width: 10% !important;
  }
  
  .mat-column-type{
    flex: 0 0 10% !important;
    width: 10% !important;
  }

  .mat-column-invite{
    flex: 0 0 3% !important;
    width: 3% !important;
  }

  .mat-column-delete{
    flex: 0 0 3% !important;
    width: 3% !important;
  }