<mat-card>
    <div fxLayout="row" > 
        <mat-form-field fxFlex>
          <!-- <input matInput [(ngModel)]="request.searchText" (keyup.enter)="getList()" placeholder="Name & Code PORTS"> -->
            <input matInput placeholder="Player Name">
            <mat-icon (click)="clearSearch()" matSuffix>clear</mat-icon>
            <mat-icon (click)="search()" matPrefix>search</mat-icon>
        </mat-form-field>
        
         <div class="p-t-5 m-l-10">
          <shared-excel-export [request]="request" type="xlsx" [api-url]="'api/FreeAgency/export'">
          <button class="mat-micro" color="primary" mat-mini-fab>
            <mat-icon>cloud_download</mat-icon>
          </button>
        </shared-excel-export>
       </div>

         <div class="m-l-10">  
            <button color="primary" (click)="add()" mat-mini-fab>
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
    </div>


    <div>
        <mat-table matSort class="mat-elevation-z8" [dataSource]="response">
          <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="basic" (click)="edit(row)" mat-mini-fab matTooltip="Edit Entry">
                <mat-icon>touch_app</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="countryId">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Country</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.countryId}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="isAir">
            <mat-header-cell mat-sort-header *matHeaderCellDef>isAir</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.isAir}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="isDeleted">
            <mat-header-cell mat-sort-header *matHeaderCellDef>isDeleted</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.isDeleted}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="isSea">
            <mat-header-cell mat-sort-header *matHeaderCellDef>isDeleted</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.isSea}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="latitude">
            <mat-header-cell mat-sort-header *matHeaderCellDef>latitude</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.latitude}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="lat">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Lat</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.lat}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <mat-header-cell mat-sort-header *matHeaderCellDef>longitude</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.longitude}}</mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="type">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="row.isSea">Sea</span>
              <span *ngIf="row.isAir && row.isSea"> / </span>
              <span *ngIf="row.isAir">Air</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="invite">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="primary" (click)="edit(row)" class="mat-elevation-z3" mat-mini-fab matTooltip="Invite Entry">
                <mat-icon>person_add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button color="warn" (click)="edit(row)" class="mat-elevation-z3" mat-mini-fab matTooltip="Delete Entry">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

  <!-- Mobile view start -->

        <ng-container matColumnDef="buttonsMobile">
          <mat-header-cell *matHeaderCellDef>Menu</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="mat-micro" mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #appMenu="matMenu" class="p-10">
              <div>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                  <button (click)="edit(row)" mat-mini-fab color="accent" matTooltip="Edit">
                    <mat-icon>touch_app</mat-icon>
                </button>
                <button class="mat-micro" class="m-l-10" mat-mini-fab color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
                </div>
              </div>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customerMobile">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Player Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.name}}
            </mat-cell>
        </ng-container>

  <!-- Mobile view end -->

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>



<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]" showFirsLastButtons></mat-paginator>
    <!-- <mat-paginator class="mat-elevation-z8" [length]="response?.totalRecords" [pageSize]="request?.pageSize"
        [pageSizeOptions]="pageSizeOptions"></mat-paginator> -->



</div>
    </mat-card>