<mat-toolbar color="primary" class="topbar">
    <mat-toolbar-row class="mat-elevation-z5">
        <img class="m-r-10" src="assets/images/icons8-trophy-48.png" [routerLink]="['/home']">
        <h4 id="logo-name" [routerLink]="['/home']">StarterApp</h4>
        
        <button mat-icon-button (click)="sidenav.toggle()" >
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button ngxToggleFullscreen>
            <mat-icon>fullscreen</mat-icon>
        </button>
        <div class="spacer"></div>
        <div>
            <div class="m-t-20">
                <button mat-raised-button class="w100 m-b-10" color="warn" type="button" (click)="Logout()">Logout</button>
              </div>
        </div> 
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav id="sidenav" #sidenav mode="side" [mode]="mobileQuery.matches ? 'side' : 'over'" [opened]="mobileQuery.matches">
<mat-list>

    <mat-list-item >
        <mat-icon>home</mat-icon>
        <a class="m-l-10" [routerLink]="['home']" style="text-decoration: none;" routerLinkActive="selected">Home</a>
    </mat-list-item>

    <!-- <mat-list-item >
        <mat-icon>toc</mat-icon>
        <a class="m-l-10" [routerLink]="['tournament/list']" style="text-decoration: none;" routerLinkActive="selected">All Tournaments</a>
    </mat-list-item> -->

    <mat-list-item >
        <mat-icon>table_chart</mat-icon>
        <a class="m-l-10" [routerLink]="['agency/table']" routerLinkActive="selected">Free Agency</a>
    </mat-list-item>

    <mat-list-item >
        <mat-icon>perm_identity</mat-icon>
        <a class="m-l-10" [routerLink]="['user-types/captain-page']" routerLinkActive="selected">Captain Page</a>
    </mat-list-item>

    <mat-list-item >
        <mat-icon>how_to_reg</mat-icon>
        <a class="m-l-10" [routerLink]="['user-types/player-page']" routerLinkActive="selected">Player Page</a>
    </mat-list-item>

</mat-list>
    </mat-sidenav>
<mat-sidenav-content class="page-wrapper">
    <div class="page-content">
        <app-bread-crumbs></app-bread-crumbs>
        <!-- <block-ui *blockUI="'default'"> -->
            <router-outlet></router-outlet>
        <!-- </block-ui> -->
    </div>
    
</mat-sidenav-content>
</mat-sidenav-container>














    

