.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .mat-sidenav-container{
    //height: calc(205vh - 112vh);
   // flex: 1 0 auto;
    background-color: #F1F4FFFF;
  }

  .mat-list-item {
    align-items: center;
    .mat-icon {
      color: #99abb4;
    }
    a {
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: #73797e;
    }
  }

  .mat-nav-list .mat-list-item {
    height: 50px;
    &:hover {
      background: greenyellow;
    }
    
    &.selected  {
      background: red;
    }
    
    .is-active {
      background-color: blanchedalmond;
    }
    
    // a {
    //   height: 35px;
    //   padding: 0 10px;
    //   align-items: center;
    //   display: flex;
    // }
    
    // &.selected .mat-list-item-content a.selected {
    //   background: transparent;
    //   color:greenyellow;
    //   font-weight: 500;
    // }
    
    
    }

    @media (max-width: 768px){
        .sidenav {
          display: none;
        }
    }

    #sidenav{
        width: 210px;
        background-color: rgb(184, 88, 88);
      }

      