html .page-wrapper {
    height: calc(100vh - 64px);

    .page-content {
      padding: 15px;
    }
  }

  img, h4 {
  cursor: pointer;
  }
    
  .m-l-10 {
    margin-left:10px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .page-wrapper .page-content
  {
    padding: 5px !important;
  }

  mat-card {
    margin: 10px;
  }
  
  .p-t-5 {
    padding-top: 5px;
  }

  .scroll-area{
    overflow-x: hidden !important;
  }
  
  .scroll-area{
    overflow-x: hidden !important;
  }
  
  .leaflet-div-icon {
    background: none !important;
    border: none !important;
  }
  
  .topbar {
    position: relative;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  #logo-name{
    font-size: 20px;
    margin-right: 20px;
  }

  mat-toolbar-row{
    line-height: 18px;  
  }

  .spacer {
    flex: 1 1 auto;
    }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .mat-sidenav-container{
    background-color: #F1F4FFFF;
  }

  .mat-list-item {
    align-items: center;
    .mat-icon {
      color: #99abb4;
    }
    a {
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px;
      color: #73797e;
    }
  }

  .mat-nav-list .mat-list-item {
    height: 50px;
    &:hover {
      background: greenyellow;
    }
    
    &.selected  {
      background: red;
    }
    
    .is-active {
      background-color: blanchedalmond;
    }
    
    a {
      height: 35px;
      padding: 0 10px;
      align-items: center;
      display: flex;
    }
    
    &.selected .mat-list-item-content a.selected {
      background: transparent;
      color:greenyellow;
      font-weight: 500;
      }
    }

    @media (max-width: 768px){
        .sidenav {
          display: none;
          flex: 0 1 auto;
        }
    }

    #sidenav{
        width: 210px;
        background-color: #fff;
      }

    .warning-mini-fab.mat-micro {
      background: orange !important;
    }
  
    .mat-micro, .mat-micro-no-hide {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
    
      .mat-button-wrapper
      {
        padding: 0 !important;
      }
    
      .mat-icon, .mat-icon-button i {
        line-height: 20px;
      }
    
      .mat-icon {
        width: 20px;
        height: 20px;
        margin: 0;
      }
    
      .material-icons {
        font-size: 20px;
      }
    }
    
      .mat-micro.mat-nano {
        width: 25px !important;
        height: 25px !important;
        line-height: 25px !important;
    }
        
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  // start mapping.scss

  .pop-container {
    width: 200px;
    table{
        width: 100%;
    }
  }
  
  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    background-color: #FFF;
    opacity: 0.9;
    width: 40px;
    height: 40px;
    border: none;
    padding-top: 1px;
  }
  
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
    opacity: 1;
  }
  
  .marker-cluster span {
    line-height: 30px;
    font-size: 15px;
    color: #FFF;
  }
  
  .marker-cluster .marker-blue {
    background-color: #2B82CB;
  }
  
  .marker-cluster .marker-green {
    background-color: #27AE24;
  }
  
  .marker-cluster .marker-red {
    background-color: #CB293C;
  }
  
  .marker-cluster .marker-violet {
    background-color: #9A25CB;
  }
  
  .marker-cluster .marker-yellow {
    background-color: #CBC529;
  }
  
  .marker-cluster .marker-orange {
    background-color: orange;
  }
  
  .leaflet-div-icon {
    background: none !important;
    border: none !important;
  }
//end mapping scss  


//forms start
.simple-form mat-form-field
{
  margin-top: 10px;
}

//forms end

.p-10 {
  padding: 10px;
}