
<div class="center-content">
    <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registration Form</mat-card-title>
    </mat-card-header>
        <mat-card-content>
                <form [formGroup]="formGroup">

                    <div fxLayout="row wrap">
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Username" formControlName="userName">
                        <mat-error *ngIf="formGroup.get('userName').hasError('required')">Required</mat-error>
                    </mat-form-field>   

                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="formGroup.get('email').hasError('required')">Required</mat-error>
                        <mat-error *ngIf="formGroup.get('email').hasError('email')">no email</mat-error>
                    </mat-form-field>   

                    <mat-form-field class="example-full-width">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" formControlName="fullName">
                        <mat-error *ngIf="formGroup.get('fullName').hasError('required')">Required</mat-error>
                    </mat-form-field>    

                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password">
                        <mat-icon matSuffix>password</mat-icon>
                        <mat-error *ngIf="formGroup.get('password').hasError('password')">Required</mat-error>
                    </mat-form-field>
                </div>
                </form>
                    <button mat-raised-button class="w100 m-b-10" color="primary" type="button" (click)="create()">Register</button>
        </mat-card-content>
  </mat-card>
</div>
