<!-- <close-popup></close-popup> -->

<div>
    <form novalidate class="simple-form" [formGroup]="editForm">
        <div>
            <input formControlName="id" class="hidden" />

              <div>
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="name">
                  <mat-hint *ngIf="displayMessage?.name" [ngStyle]="{'color': 'red'}"> {{displayMessage?.name}}</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Code" formControlName="code">
                  <mat-hint *ngIf="displayMessage?.code" [ngStyle]="{'color': 'red'}"> {{displayMessage?.code}}</mat-hint>
                </mat-form-field>
              </div>

              <div style="height: 300px;"
              leaflet
              [leafletOptions]="options"
              (leafletMapReady)="onMapReady($event)"
              (leafletClick)="onMapClicked($event)">
              </div>

              <div>
                <mat-form-field>
                  <input matInput placeholder="Long" formControlName="long">
                  <mat-hint *ngIf="displayMessage?.long" [ngStyle]="{'color': 'red'}"> {{displayMessage?.long}}</mat-hint>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput placeholder="Lat" formControlName="lat">
                  <mat-hint *ngIf="displayMessage?.lat" [ngStyle]="{'color': 'red'}"> {{displayMessage?.lat}}</mat-hint>
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <mat-checkbox placeholder="Is Male" formControlName="isSea">Male</mat-checkbox>
              </div>
              <div class="col-lg-4">
                <mat-checkbox placeholder="Is Female" formControlName="isAir">Female</mat-checkbox>
              </div>
            </div>

        </div>
    </form>

    <div class="m-t-20">
        <button mat-raised-button class="w100 m-b-10" color="primary" type="button" (click)="save()">Save</button>
      </div>
</div>